@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
  background-color: #141E26;
  font-family: 'Varela Round', sans-serif;
}

.main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 992px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
}

.details {
  box-sizing: border-box;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  height: 350px;
  width: 600px;
  min-width: 300px;
  color: #fff;
  background-color: #1a2731;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  margin-right: 5px;
}

@media (max-width: 992px) {
  .details {
    display: grid;
    flex-direction: column;
    width: 350px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
  }
}

.location-pin {
  color: #b11111;
}

.heading-box {
  margin: 60px auto;
  height: 150px;
  width: 600px;
  padding: 10px;
  border: 3px solid white;
  box-shadow:
        10px -10px 0 -3px #141E26,
        10px -10px white,
        20px -20px 0 -3px #141E26,
        20px -20px white;
  transition: box-shadow 1s, top 1s, left 1s;
  top: 0;
  left: 0;
  display: flex;
  align-content: center;
  justify-content: center;
}

.heading-box:hover {
  top: -20px;
  left: 20px;
  box-shadow:
        0 0 0 -3px #141E26,
        0 0,
        0 0 0 -3px #141E26,
        0 0;
}

@media (max-width: 992px) {
  .heading-box {
    height: 100px;
    width: 350px;
  }
}

.heading {
  font-size: 60px;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  color: #fff;
}

@media (max-width: 992px) {
  .heading {
    font-size: 45px;
  }
}

h3 {
  color: #1f8ee9;
  text-align: center;
  font-weight: 400;
  margin-top: 0;
  font-family: 'Varela Round', sans-serif;
}

.details .row {
  color: #fff;;
  margin: 0px;
  border-top:1px solid white;
  padding-top: 10px;
}

.top-row {
  border-top: 0;
  color: #fff;;
  margin: 0px;
  padding-top: 10px;
}

.bottom-row {
  border-top: 1px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;;
  margin: 0px;
}

#ip {
  color: #fff;
}
